@tailwind base;
@tailwind components;
@tailwind utilities;

.lil-gui {
  --font-size: 12px;
  --input-font-size: 12px;
  --background-color: #f6f6f6;
  --text-color: #000000;
  --title-background-color: #efefef;
  --title-text-color: #3d3d3d;
  --widget-color: #eaeaea;
  --hover-color: #f0f0f0;
  --focus-color: #fafafa;
  --number-color: #07aacf;
  --string-color: #8da300;
}