@import 'primeicons/primeicons.css';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./primevue/tailwind.css";
@import "tailwindcss/utilities";

html {
  background-color: black;
  overflow: hidden;
}

body {
  font-family: 'JetBrains Mono', monospace, Verdana , Arial, sans-serif !important;
}

.lil-gui {
  --font-size: 12px;
  --input-font-size: 12px;
  --background-color: #f6f6f6;
  --text-color: #000000;
  --title-background-color: #efefef;
  --title-text-color: #3d3d3d;
  --widget-color: #eaeaea;
  --hover-color: #f0f0f0;
  --focus-color: #fafafa;
  --number-color: #07aacf;
  --string-color: #8da300;
}

/* Primary and Surface Palettes */
:root {
  --p-primary-50: #f9fafb;
  --p-primary-100: #f3f4f6;
  --p-primary-200: #e5e7eb;
  --p-primary-300: #d1d5db;
  --p-primary-400: #9ca3af;
  --p-primary-500: #6b7280;
  --p-primary-600: #4b5563;
  --p-primary-700: #374151;
  --p-primary-800: #1f2937;
  --p-primary-900: #111827;
  --p-primary-950: #030712;
  --p-surface-0: #ffffff;
  --p-surface-50: #f9fafb;
  --p-surface-100: #f3f4f6;
  --p-surface-200: #e5e7eb;
  --p-surface-300: #d1d5db;
  --p-surface-400: #9ca3af;
  --p-surface-500: #6b7280;
  --p-surface-600: #4b5563;
  --p-surface-700: #374151;
  --p-surface-800: #1f2937;
  --p-surface-900: #111827;
  --p-surface-950: #030712;
  --p-content-border-radius: 6px;
}

/* Light */
:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

/* 
* Dark Mode
* Defaults to system, change the selector to match the darkMode in tailwind.config.
* For example; 
* darkMode: ['selector', '[class*="app-dark"]'] 
* should be;
* :root[class="app-dark"] {
*/
@media (prefers-color-scheme: dark) {
  :root {
      --p-primary-color: var(--p-primary-400);
      --p-primary-contrast-color: var(--p-surface-900);
      --p-primary-hover-color: var(--p-primary-300);
      --p-primary-active-color: var(--p-primary-200);
      --p-content-border-color: var(--p-surface-700);
      --p-content-hover-background: var(--p-surface-800);
      --p-content-hover-color: var(--p-surface-0);
      --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
      --p-highlight-color: rgba(255, 255, 255, 0.87);
      --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
      --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
      --p-text-color: var(--p-surface-0);
      --p-text-hover-color: var(--p-surface-0);
      --p-text-muted-color: var(--p-surface-400);
      --p-text-hover-muted-color: var(--p-surface-300);
  }
}
